@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    margin: 0;
}
#wrap{
    width: 100%;
    height: 100vh;
}

$black: #000;
$grey:#4D4949;
$grey_l:#D9D9D9;
$white: #fff;

.container{
    padding: 0 15px;
}

header{
    width: 100%; height: 70px; display: flex; line-height: 55px;
    img{
        width: 26px; height: 24px;
        cursor: pointer;
    }
    a{
        img.top_arrow{
       position: relative;
       top: 16px;
        }
    }
    a{
        img.top_home{
            position: relative;
            left: 200px;
        }
    }
    h1{
        font-size: 14px;
        font-weight: normal;
        padding-left: 17px;
    }
}

.section1{
    margin-bottom: 28px;
    h3{
        font-size: 18px;
        letter-spacing: 1.2px;
        cursor: pointer;
        margin-top: 0;
    }
    img{
        position: relative;
        top: -40px;
        left: 65px;
        cursor: pointer;
    }
    .box{
        width: 99%;
        height: 180px;
        border: 1px solid #ddd;
        margin-top: -30px;
        p{
            padding: 20px 0 50px 20px;
            margin: 0;
        }
        p.p_01{
            border-bottom: 1px solid #ddd;
        }
        p.p_02{
            display: inline-block;
            height: 73px;
            padding: 20px 90px 0 20px;
            border-right: 1px solid #ddd;
        }
        p.p_03{
            display: inline-block;
            padding: 20px 90px 0 20px;
            position: absolute;
        }
        span{
            width: 20px;
            border: 3px solid $black;
            display: block;
        }
        span.s_01{
            position: absolute;
            top: 165px;
            left: 38px;
        }
        span.s_02{
            position: absolute;
            top: 254px;
            left: 38px;
        }
        span.s_03{
            position: absolute;
            top: 254px;
            left: 229px;
        }
    }
}

.section2{
    ul{
        list-style: none;
        padding: 0;
        li{
            border-bottom: 1px solid #ddd;
            a{
                text-decoration: none;
                color: $black;
                padding: 18px 0;
                display: block;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}



/* under */
.under{
    position: absolute;
    left: 0;
    top: 670px;
    width: 100%;
    height: 90px;
    background: #F2F2F2;
    overflow: hidden;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        li{
            position: relative;
            a{
                text-decoration: none;
                color: #5D5D5D;
                display: block;
                position: absolute;
                top: 8px;
                left: -20px;
                img{
                    position: relative;
                    left: -4px;
                }
            }
            a.category{
                position: absolute;
                left: -36px;
                img{
                    left: 10px;
                }
            }
            a.tv{
                position: absolute;
                left: -13px;
                img{
                    left: -7px;
                }
            }
            a.login{
                position: absolute;
                left: -16px;
                img{
                    left: -4px;
                }
            }
            a.my{
                position: absolute;
                left: -10px;
                img{
                    left: -14px;
                }
            }
        }
    }
}